# Sphinx build folder
build

# Virtual environment
*.venv

# Fabric
macro/
runs/

*.json
!release-please-config.json
!.release-please-manifest.json
*.png
*.svg

# Python
*.egg-info/
__pycache__/

# LibreOffice
.~lock*

# cocotb
sim_build/
*.gtkw

IHP-Open-PDK/
